<div class="container mt-5">

  <h1 class="mb-4">
    Admin Courses
  </h1>


  <!-- Course Form -->

  <form
    [formGroup]="courseForm"
    (ngSubmit)="saveCourse()">


    <div class="mb-3">

      <label class="form-label">
        Title
      </label>

      <input
        type="text"
        class="form-control"
        formControlName="title">

    </div>


    <div class="mb-3">

      <label class="form-label">
        Description
      </label>

      <textarea
        class="form-control"
        formControlName="description">
      </textarea>

    </div>


    <div class="mb-3">

      <label class="form-label">
        Instructor
      </label>

      <input
        type="text"
        class="form-control"
        formControlName="instructor">

    </div>


    <div class="mb-3">

      <label class="form-label">
        Duration
      </label>

      <input
        type="number"
        class="form-control"
        formControlName="duration">

    </div>


    <div class="mb-3">

      <label class="form-label">
        Price
      </label>

      <input
        type="number"
        class="form-control"
        formControlName="price">

    </div>


    <div class="mb-3">

      <label class="form-label">
        Capacity
      </label>

      <input
        type="number"
        class="form-control"
        formControlName="capacity">

    </div>


    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="courseForm.invalid">

      {{ isEditing ? 'Update Course' : 'Create Course' }}

    </button>


    <button
      *ngIf="isEditing"
      type="button"
      class="btn btn-secondary ms-2"
      (click)="cancelEdit()">

      Cancel

    </button>

  </form>


  <hr class="my-5">


  <!-- Courses -->

  <div class="row g-4">

    <div
      class="col-md-6 col-lg-4"
      *ngFor="let course of courses">


      <div class="card h-100">

        <div class="card-body">

          <h5 class="card-title">
            {{ course.title }}
          </h5>


          <p class="card-text">
            {{ course.description }}
          </p>


          <p>
            Instructor:
            {{ course.instructor }}
          </p>


          <p>
            Duration:
            {{ course.duration }}
          </p>


          <p>
            Price:
            {{ course.price }}
          </p>


          <p>
            Capacity:
            {{ course.capacity }}
          </p>


          <button
            class="btn btn-warning me-2"
            type="button"
            (click)="editCourse(course)">

            Edit

          </button>


          <button
            class="btn btn-danger"
            type="button"
            (click)="deleteCourse(course._id)">

            Delete

          </button>

        </div>

      </div>

    </div>

  </div>

</div>